{{route-dialog-header title="Restore Password"}}

<div class="container route-dialog-body">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <form role="form" {{action "sendPasswordResetLink" on="submit"}}>
                <div class="form-group">
                    <label for={{emailField.elementId}}>Email you've used for registration</label>
                    {{input value=email valueBinding="email" class="form-control" viewName="emailField"}}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary ladda-button" disabled={{isProcessing}} id="request-pwd-reset-btn" data-style="expand-left" data-spinner-color="#f2f2f2" data-spinner-size="25">
                        <span class="ladda-label">Send</span>
                        <span class="ladda-spinner" data-size="xs"></span>
                        <div class="ladda-progress" style="width: 0px;"></div>
                    </button>
                </div>


                {{#if alertMessage}}
                    <div class="alert {{if isError 'alert-danger' 'alert-success'}}">{{alertMessage}}</div>
                {{/if}}
            </form>
        </div>
    </div>
</div>

{{app-footer}}
