{{#if root.dataLoaded}}
    <div class="gd-folders">
        {{tree-branch node=view.root drive=view}}
    </div>
    <div class="gd-files">
        {{#if view.selectedNode}}
            <ul>
            {{#each file in view.selectedNode.files}}
                <li><a href="#" {{action "selectFile" file bubbles=false target="view"}}>
                    <span class="dg-file-selector">
                        {{#if file.selectable}}
                            {{#if file.selected}}
                                <i class="fa fa-check-square"></i>
                            {{else}}
                                <i class="fa fa-square-o"></i>
                            {{/if}}
                        {{else}}
                            <i class="fa fa-square"></i>
                        {{/if}}
                    </span>

                    {{file.title}}
                </a></li>
            {{/each}}
            </ul>
        {{/if}}
    </div>
{{else}}
    <div class="loading-container">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
{{/if}}

<div style="clearfix"></div>
